extends layout

block content
  //if lt IE 10
    p.browsehappy
        | You are using an
        strong outdated
        | browser. Please
        a(href='http://browsehappy.com/') upgrade your browser
        | to improve your experience.
  .container
    .header
      ul.nav.nav-pills.pull-right
        li.active
          a(href='#') Documents
        li
          a(href='/logout') Logout
      h3.text-muted IS Reader
    .upload-form
      form.form.file-upload(enctype='multipart/form-data')  
        .form-group
          input(type='file',name='file',id='file',multiple='') 
        input(type='submit').btn.btn-primary
      div.row
        div.span12
          div.progress.progress-striped.active.hide
            div.progress-bar(style='width: 0%')
    .jumbotron
      .btn-div
        button.btn.btn-link.edit-show-btn(type='button')
          | Edit
        button.btn.btn-link.upload-show-btn(type='button')
          | Upload 
      h2 Documents
      .book-list
    .row.marketing
      .col-lg-6
    .footer
      p Neil Ding
  //
     build:js scripts/vendor.js 
  //
     bower:js 
  script(src='bower_components/jquery/jquery.js')
  script(src='bower_components/mustache/mustache.js')
  //
     endbower 
  //
     endbuild 
  //
     Google Analytics: change UA-XXXXX-X to be your site's ID. 
  script.book-tpl(type='data/template')
    {{^empty}}
    <ul>
    {{#books}}
    <li><a target="_blank" href="reader?id={{_id}}">{{title}}</a></li>
    {{/books}}
    </ul>
    {{/empty}}
    {{#empty}}
    <p>The list is empty.</p>
    {{/empty}}
  //
     build:js scripts/main.js 
  script(src='bower_components/requirejs/require.js')
  script.
    require.config({
      paths: {
          jquery: 'bower_components/jquery/jquery',
          app: 'scripts/app'
      }
    });
    require(['app', 'jquery'], function (app, $) {
        'use strict';
        app.loadDocs();
        // use app here
        // console.log(app);
        // console.log('Running jQuery %s', $().jquery);
    });
  script.
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
  //
     endbuild 
