!!! 5
html.no-js
  //
    <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Developing Backbone.js Applications - IS Reader
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //
       Place favicon.ico and apple-touch-icon.png in the root directory 
    link(rel='stylesheet', href='styles/main.css')
    link(rel='stylesheet', href='styles/pdf/pdf-render.css')
    script(src='bower_components/modernizr/modernizr.js')
    script(src='scripts/pace.min.js')
  body
    //if lt IE 7
      p.browsehappy
        | You are using an
        strong outdated
        | browser. Please
        a(href='http://browsehappy.com/') upgrade your browser
        | to improve your experience.
    //
       Add your site or application content here 
    .bg
      .main
        .book-info-div
          .fixed-panel-div
            .title
            .chapter
        .reader-panel-div
          .fixed-panel-div
            .panel-tool-div
              a.btn.btn-default(title='Settings').settings-btn
                span.glyphicon.glyphicon-cog
              a.btn.btn-default(title='Menu').menu-btn
                span.glyphicon.glyphicon-list
              a.btn.btn-default(title='Notes and Marks').notes-list-btn
                span.glyphicon.glyphicon-pencil
            .nav-btn-div
              a.btn.btn-default.pre-page
                span.glyphicon.glyphicon-chevron-left
              a.btn.btn-default.next-page
                span.glyphicon.glyphicon-chevron-right
            .note-list-div.reader-fn-list-div.clearfix.hidden
              h4.clearfix Note List
                span.close-list-div 
                  span.glyphicon.glyphicon-remove
              ul.note-list.clearfix
            .settings-list-div.reader-fn-list-div.clearfix.hidden
              h4.clearfix Settings
                span.close-list-div 
                  span.glyphicon.glyphicon-remove
              ul.settings-list.clearfix
                li.zoom-set-div.clearfix
                  span Zoom
                  .btn-group.pull-right
                    button.btn.btn-xs.zoom-out-btn.btn-default(type='button') -
                    button.btn.btn-xs.zoom-default.btn-default(type='button') Default
                    button.btn.btn-xs.zoom-in-btn.btn-default(type='button') +
                li.show-mark-div.clearfix
                  span Show Marks
                  .btn-group.pull-right
                    input(type="checkbox", checked).show-mark-check

        #pdfContainer.pdf-content
        //  .reader-notes-div
    .tool-pop.hidden
      ul.tools-list
        li
          a.hl-btn.pop-btn(href='')
            span.glyphicon.glyphicon-pencil
            | &nbsp;Mark
        li
          a.note-btn.pop-btn(href='')
            span.glyphicon.glyphicon-edit
            | &nbsp;Note
        li
          a.share-btn.pop-btn(href='')
            span.glyphicon.glyphicon-share
            | &nbsp;Share
      div.note-text-area.hidden
        textarea.note-text(type='inputarea',rows='5',cols='40')
        p
          input#if-private(name='if-private',type='checkbox')
          label(for='if-private') Private
          button.pull-right.btn.btn-sm.btn-default.note-save-btn Save
    //
       <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
    //
       <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script> 
    //
       <script>document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script> 
    script(src='bower_components/jquery/jquery.js')
    script(src='scripts/pdf/pdf.js')
    script(src='scripts/pdf/compatibility.js')
    script(src='scripts/pdf/textlayerbuilder.js')
    script(src='scripts/pdf/render_pdf.js')
    script.
      function getURLParameter(name) {
      return decodeURI(
      (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,null])[1]
      );
      }
      var book_id = getURLParameter('id');
      var page;
      $.ajax({
      type: 'GET',
      url: "/book/" + book_id,
      //url: "http://localhost:3000/book/" + book_id,
      dataType: 'json',
      success: function(data){
      console.log(data);
      if (data) {
      $('title').html(data.title + ' - IS Reader');
      $('.title').html(data.title);
      page = new LoadPage(data.file_name, data.last_page, data._id);
      page.init();
      $('.show-mark-check').change(function(){
        if ($(this).is(':checked')) {
          page.showMark();
        } else {
          page.hideMark();
        }
      });
      }
      }
      });
    //
       Google Analytics: change UA-XXXXX-X to be your site's ID. 
    script.
      // (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      // function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      // e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      // e.src='//www.google-analytics.com/analytics.js';
      // r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      // ga('create','UA-XXXXX-X');ga('send','pageview');
